/**************************************************************************
** Custom blog styles 2013-12-01 GHA
**************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400|Source+Code+Pro|Paytone+One);

/**************************************************************************
** DF Blog Styles
**************************************************************************/

.df-blog > * {
	font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
	color:       #2a2a2a;
}

.df-blog a:hover {
	text-decoration: underline;
}

.df-blog blockquote {
	border:             1px solid burlywood;
	border-right-width: 4px;
	border-left-width:  4px;
	font-size:          14px;
	width:              80%;
	-moz-box-shadow:    0 0 10px rgba(51, 51, 51, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
	box-shadow:         0 0 10px rgba(51, 51, 51, 0.5);
	font-family:        "Open Sans", "Helvetica Neue Light", 'Arial', sans-serif;
}

.df-blog h1, .df-blog h2, .df-blog h3, .df-blog h4, .df-blog h5 {
	font-family:   "Roboto", "Open Sans", Arial, "Lucida Grande", sans-serif;
	border-bottom: 1px solid rgba(85, 107, 47, 0.2) !important;
}

.df-blog p, .df-blog h2, .df-blog h3, .df-blog h4, .df-blog ul, .df-blog ul li, .df-blog pre, .df-blog ol, .df-blog li {
	margin-left:  25px;
	margin-right: 25px;
}

.df-blog h4, .df-blog h5, .df-blog section h4 + p, .df-blog section h5 + p {
	margin-bottom: -10px;
	margin-left:   50px;
	margin-right:  50px;
}

.df-blog pre.prettyprint {
	padding:            20px;
	-moz-box-shadow:    0 0 10px rgba(51, 51, 51, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
	box-shadow:         0 0 10px rgba(51, 51, 51, 0.5);
	font-family:        "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight:        normal;
	border-radius:      4px;
	width:              auto;
	background-color:   #000;
	border:             1px solid rgba(255, 255, 255, .50);
	margin:             20px 20px 20px 0;
}

.df-blog pre.prettyprint.long-lines {
	font-size: 9pt;
}

.df-blog pre.prettyprint + figcaption {
	margin-top:  -12px;
	padding-top: 0;
}

.df-blog pre.prettyprint ol {
	/*padding-right: 8px;*/
}

.df-blog pre.prettyprint ol li:first-child {
	/*padding-top: 8px;*/
}

.df-blog pre.prettyprint ol li:last-child {
	/*padding-bottom: 8px;*/
}

.df-blog ol.linenums {
	/*font-size: 12px;*/
}

.df-blog h1.title {
	text-align:     center;
	border-bottom:  1px solid #ddd;
	margin:         auto 25px 30px;
	text-shadow:    -1px -1px #ccc;
	letter-spacing: -1.5px;
}

.df-blog h1.ninja {
	font-family: "Paytone One", "Open Sans", Helvetica, sans-serif;
	font-size:   2.5em;
	margin:      auto 25px 30px;
	text-shadow: none;
}

.df-blog h2, .df-blog h3, .df-blog h4, .df-blog h5 {
	border-bottom: 1px solid #eee;
	text-shadow:   -1px -1px #ccc;
}

.df-blog ul, .df-blog ol {
	list-style: square;
}

.df-blog ol.steps {
	list-style: decimal;
}

.post-body .df-blog > img.picture, .df-blog > img.picture, .df-blog img.picture {
	float:              left !important;
	-moz-box-shadow:    2px 4px 4px rgba(51, 51, 51, 0.25);
	-webkit-box-shadow: 2px 4px 4px rgba(51, 51, 51, 0.25);
	box-shadow:         2px 4px 4px rgba(51, 51, 51, 0.25);
	-webkit-transform:  rotate(356deg);
	-moz-transform:     rotate(356deg);
	-o-transform:       rotate(356deg);
	width:              250px !important;
	height:             250px !important;
	border:             5px solid white;
	margin:             15px 35px 35px 15px !important;
	max-width:          250px !important;
}

.df-blog figure {
}

.df-blog > div > img.masthead {
	-moz-box-shadow:    6px 8px 10px rgba(51, 51, 51, 0.25);
	-webkit-box-shadow: 6px 8px 10px rgba(51, 51, 51, 0.25);
	box-shadow:         6px 8px 10px rgba(51, 51, 51, 0.25);
}

.df-blog figure img {
	-moz-box-shadow:    2px 4px 4px rgba(51, 51, 51, 0.25);
	-webkit-box-shadow: 2px 4px 4px rgba(51, 51, 51, 0.25);
	box-shadow:         2px 4px 4px rgba(51, 51, 51, 0.25);
	border:             1px solid rgba(0, 0, 0, .25);
	margin:             5px auto 5px !important;
	float:              none !important;
	width:              auto !important;
	height:             auto !important;
	max-width:          100% !important;
}

.blog-listing-wrapper .post-listing .post-item .post-body .df-blog div.inset img, .df-blog div.inset img {
	vertical-align: text-bottom;
	height:         200px !important;
	box-shadow:     0 0 10px #aaa;
	display:        inline-block;
	/*margin-top:     15px !important;*/
	max-width:      100% !important;
}

.blog-listing-wrapper .post-listing .post-item .post-body .df-blog figure img.shrink, .df-blog figure img.shrink {
	width: 80% !important;
}

.df-blog figcaption {
	font-size:   80%;
	font-weight: bold;
}

.df-blog code, .df-blog pre {
	font-family:      "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size:        10pt;
	border:           1px solid #e0e0e0;
	border-radius:    6px;
	margin-left:      2px;
	margin-right:     2px;
	background-color: #eee;
	padding:          1px 2px;
	line-height:      inherit;
	vertical-align:   middle;
	display:          inline-block;
	color:            #222;
	font-weight:      bold;
}

.df-blog ul.code-like > li {
	font-family: "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size:   0.80em;
	list-style:  disc inside;
}

.df-blog section {
	margin-left: 25px;
}

.df-blog section h2 {
	margin-left: 25px;
}

.df-blog section h4.list-header {
	font-size:      18px;
	font-weight:    bold;
	border:         none;
	text-shadow:    none;
	margin-left:    74px;
	padding-bottom: 0;
	margin-bottom:  -14px;
	color:          #222;
}

.df-blog section.flush-left {
	margin-left: 5px;
}

.df-blog .fatal {
	color:       darkred;
	font-weight: 700;
}

.df-blog blockquote .title {
	font-size:      18px;
	font-weight:    bold;
	text-shadow:    none;
	border-bottom:  1px solid antiquewhite;
	padding-top:    8px;
	padding-bottom: 0;
	margin-left:    24px;
	margin-right:   25px;
	display:        block;
}

.df-blog blockquote > .title + p {
	margin-top: 8px;
}

.df-blog div.inset {
	float:       right;
	padding:     10px 10px 6px;
	margin-left: 14px;
}

.df-blog blockquote.inset {
	padding:    10px 10px 6px;
	min-height: 250px;
	font-size:  16px;
}

/**************************************************************************
** Custom blog callout styles 2013-12-13 GHA
**************************************************************************/

.df-blog blockquote, .df-blog .callout {
	margin:             1.5em 6em 1.5em 1.5em;
	padding:            .75em .5em .75em 1em;
	background:         #fff;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow:         0 0 6px rgba(0, 0, 0, 0.5);
	border-radius:      0;
}

.df-blog .callout.callout-right {
	margin-left: 305px;
}

.column, .columns {
	margin:      1.5em 0 1.5em -1.5em;
	padding:     .75em .5em .75em 1em;
	border-left: .5em solid transparent;
}

.df-blog .callout {
	border-left: .5em solid #fff;
}

.df-blog .callout > h2:first-child, .df-blog blockquote > h2:first-child {
	margin:         0 0 12px;
	padding-bottom: 12px;
	border-bottom:  none;
}

.df-blog .callout > h3:first-child, .df-blog blockquote > h3:first-child {
	margin:         0 0 10px;
	border-bottom:  none;
	padding-bottom: 10px;
}

.df-blog .callout > h4:first-child, .df-blog blockquote > h4:first-child {
	margin:         0 0 8px;
	padding-bottom: 8px;
	border-bottom:  none;
}

.df-blog .callout > h5:first-child, .df-blog .callout > h6:first-child, .df-blog blockquote > h5:first-child, .df-blog blockquote > h6:first-child {
	margin:         0 0 6px;
	padding-bottom: 6px;
	border-bottom:  none;
}

.df-blog .callout > .ninja {
	font-family: "Paytone One", "Open Sans", Helvetica, sans-serif;
	font-size:   48px;
	margin-top:  0;
	opacity:     .1;
	transition:  opacity 2s ease-in-out;
	text-shadow: none;
}

.df-blog .callout:hover > .ninja,
.df-blog .callout > .ninja:hover {
	opacity:    1;
	transition: opacity 2s ease-in-out;
}

.df-blog .callout p {
	margin: 0;
}

.df-blog .callout ol, .df-blog .callout ul {
	margin: .75em 0 .75em 1.5em;
}

.df-blog .column ol, .df-blog .column ul, .df-blog .columns ol, .df-blog .columns ul {
	margin-top:    0;
	margin-bottom: 0;
}

.df-blog .callout li ol, .df-blog .callout li ul, .df-blog .column li ol, .df-blog .column li ul, .df-blog .columns li ol, .df-blog .columns li ul {
	margin: 0 0 0 1.5em;
}

.df-blog .callout p + p {
	margin-top: 1.5em;
}

.df-blog .callout .book {
	width: 25%;
}

.df-blog .changed-block {
	border-left: .5em solid #47ad09;
}

.df-blog .highlight-block {
	/*border: 1px solid #999;*/
	border-left: .5em solid #d4af37;
}

.df-blog .warning-block {
	border-left: .5em solid #c11100;
}

.df-blog .note-block {
	border-left: .5em solid hsl(5, 50%, 70%);
	background:  hsla(5, 70%, 70%, .15);
}

.df-blog pre.prettyprint .com {
	font-style: normal;
}

.df-blog pre.prettyprint .str .com {
	color: inherit;
}

.df-blog .pull-left {
	float: left;
}

.df-blog .pull-right {
	float: right;
}

.df-blog .clearfix {
	clear: both;
}